<div class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://image.noelshack.com/fichiers/2018/19/1/1525702507-thp-bdx.png" width="40" height="40" class="d-inline-block align-top" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" >
          <div class="p-2 bd-highlight">
            <li class="nav-item active">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
          </div>
          <% if user_signed_in? %>
          <div class="p-2 bd-highlight">
            <li class="nav-item active">
            <a class="nav-link" href="<%= index_path %>">All clubbers</a>
            </li>
          </div>
        <% end %>
        </ul>
      <div class="ml-auto p-2 bd-highlight">
        <% if user_signed_in? %>
          <%= link_to 'Log out', logout_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0" %>
        <% else %>
          <%= link_to 'Sign up', signup_path, class: "btn btn-outline-warning" %>
          <%= link_to 'Log in', login_path, class: "btn btn-outline-success" %>
        <% end %>
    </div>
  </div>
</nav>
</div>
