<!DOCTYPE html>
<html>
  <head>
    <title>Eventbritelike2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <h4 class="text-danger" ><%= flash[:notice] %></h4>
      <h4 class="text-danger" ><%= flash[:alert] %></h4>
    </div>
    <div class="start">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
