<div class="container">
  <div>
    <% if user_signed_in? %>
      <h1>Welcome <%= @current_user.firstname %> <%= @current_user.lastname %>!</h1>
      <h2>Remember your Id : <%= @current_user.id %></h2>
      <%= link_to "Clubbeurs List", index_path, class: 'btn btn-outline-dark' %>
      <div class="bdx">
        <img src="https://image.noelshack.com/fichiers/2018/18/4/1525373439-thp-bdx.png" alt="logo thp bdx" class="logo"/>
      </div>
    <% else %>
        <h4 class="alert alert-danger ">Connexion requise pour aller sur ce site.</h4>
        <%= link_to "Sign up now", signup_path, class: "btn btn-primary", id: "signup_home" %>
        <%= link_to "Log in now", login_path, class: "btn btn-success", id: "login_home" %>
        <div class="bdx">
          <img src="https://image.noelshack.com/fichiers/2018/18/4/1525373439-thp-bdx.png" alt="logo thp bdx" class="logo"/>
        </div>
    <% end %>
  </div>

</div>
